@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Greetings, " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "navbar-link" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="navbar-link">Log out</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(MACAWeb.Resources.Navbar.Navbar.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "navbar-link" })</li>
        <li>@Html.ActionLink(MACAWeb.Resources.Navbar.Navbar.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "navbar-link" })</li>    
    </ul>
}
