@model IEnumerable<MACAWeb.Models.PersonUser>

@{
    ViewBag.Title = "AddUserLink";
}


<div>
    <h2>@ViewBag.Title</h2>

    <hr />
    <div class="row">
        
        @Html.ActionLink("Add link", "PSLinkCreate", routeValues: new { personId = ViewBag.PersonID }, htmlAttributes: new { @class = "btn btn-default" })
    </div>
    <br />

    <div class="row">

        <div class="card col">
            <table class="table card-body">
                <tr>
                    <th>
                        Current user
                    </th>
                    <th>Manage</th>
                </tr>

                @foreach (var item in Model)
                {
                    
                    string UserAcc = Auxiliaries.GetUserAcc(item.UserID);

                <tr>
                    <td class="col-sm-1 col-lg-5 col-md-5">
                        <strong>@UserAcc </strong>
                    </td>
                    <td class="col-sm-1 col-lg-1 col-md-1">
                        <a href="@Url.Action("PSLinkDelete", "Persons", new { selectedLink=item.PersonUserID, personId = ViewBag.PersonID })">
                            <span title="Delete" class="fa fa-trash action-icons" />
                        </a>
                    </td>
                </tr>
                }
            </table>
        </div>

    </div>
</div>