@{
    ViewBag.Title = "About MACA";
}
<div class="main-content">
    <h2>@ViewBag.Title</h2>

    <hr />

    <div class="row inner-rectangle">
        <div class="col-md-8">
            <p class="narrow-paragraph">
                In almost all professions, attendance at work is conscientiously recorded, while in the academic sphere, 
                attendance at work is more free. This creates a problem of determining how much work an individual has done. 
                The aim of this thesis is to present the problem and to examine possible solutions. 
                In the second part we present and briefly describe all the programs and tools that we use to build the web application. 
                We continue with the description of development process, where we present the design of the web application, its development and testing. 
                In the last part, we present and demonstrate the concrete functioning of the web application.
            </p>
        </div>
        <div class="col-md-4 card secondary p-4">
            <img src="~/Images/macaIcon.png" height="50%" width="300px" class="logo-img" /><br /><br />
            <img src="~/Images/logomaca.jpg" class="logo-img" /><br /><br />

        </div>
    </div>
</div>