<div class="main-content">
    <h2>Contact</h2>

    <hr />

    <div class="row inner-rectangle">
        <p class="narrow-paragraph">
            To contact the members of the project team, please use this <a href="mailto:macaupjs@gmail.com">email</a>.
        </p>

    </div>
</div>
