@{
    ViewBag.Title = "Ako funguje?";
}
<h2>Čo je cielom a ako funguje <span style="font-weight:bolder;color:#086723;">MACA</span>?</h2>

<hr />


<p class="narrow-paragraph">
    Pište nam: <a href="mailto:macaupjs@gmail.com">macaupjs@gmail.com</a>.
</p>



