@model MACAWeb.Models.News

@{
    ViewBag.Title = "UPJŠ - MACA";
}


<div class="jumbotron" style="margin-top:-5px;text-align:center;">
    <table style="width:80%">
        <tbody>
            <tr>
                <td style="vertical-align:middle;">
                    <img src="~/Images/macaIcon.png" width="200">
                    <br>
                    <img src="~/Images/logomaca2.jpg" width="200">
                </td>
                <td style="text-align:left;">
                    <!--<h2>

                        <span class="title-orange">MONITOR</span>

                    </h2>

                    <h3><span class="title-blue">of</span></h3>

                    <h2>

                        <span class="title-orange">ACADEMIC ACTIVITIES</span>

                    </h2>-->
                    <img src="~/Images/logomaca.jpg" width="700">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card text-center custom-card">
            <a href="/Home/About" class="custom-card-link">
                <div class="card-header"><h5 class="card-title">MACA Project</h5></div>
                <div class="card-body">
                    <img src="~/Images/biqbinIcon.png" alt="MACA Project" height="100rem" width="100rem" />
                    <p class="card-text">Learn more about the project!<br /><br /></p>
                </div></a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center custom-card">
            <a href="/Home/People" class="custom-card-link">
                <div class="card-header"><h5 class="card-title">People</h5></div>
                <div class="card-body">
                    <img src="~/Images/featureIcon.png" alt="UMV employees" height="100rem" width="100rem" />
                    <p class="card-text">UMV employees<br /><br /></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center custom-card">
            <a href="/Home/Papers" class="custom-card-link">
                <div class="card-header"><h5 class="card-title">Publications</h5></div>
                <div class="card-body">
                    <img src="~/Images/paperIcon.png" alt="Papers" height="100rem" width="100rem" />
                    <p class="card-text">Check out the latest publications of UMV<br /><br /></p>
                </div>
            </a>
        </div>
    </div>
</div>
