@model MACAWeb.Models.News

@{
    ViewBag.Title = "UPJŠ - MACA";
}


<div class="jumbotron selection-card" style="margin-top:-5px;text-align:center;">
    <div class="row">
        <div class="col-md-4" style="vertical-align:middle;">
            <img src="~/Images/macaIcon.png" width="200">
        </div>
        <div class="col-md-6" style="text-align:left;">
            <h2>

                <span class="title-orange">MONITOR</span>

            </h2>

            <h3><span class="title-blue">of</span></h3>

            <h2>

                <span class="title-orange">ACADEMIC ACTIVITIES</span>

            </h2>
        </div>            
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card text-center selection-card custom-card-link">
            <a href="/Home/About" class="custom-card-link">
                <div class="card-body">
                    <img src="~/Images/aboutMACA.png" alt="About" class="about-image"/>
                    <h5>About</h5>
                    <p>Learn more about MACA<br /><br /></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center selection-card custom-card-link">
            <a href="/Home/People" class="custom-card-link">
                <div class="card-body">
                    <img src="~/Images/aboutPeople.png" alt="People" class="about-image"/>
                    <h5>People</h5>
                    <p>Check out the employees<br /><br /></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center selection-card custom-card-link">
            <a href="/Home/Publications" class="custom-card-link">
                <div class="card-body">
                    <img src="~/Images/aboutPublication.png" alt="Publication" class="about-image"/>
                    <h5>Publications</h5>
                    <p>Check out the latest publications<br /><br /></p>
                </div>
            </a>
        </div>
    </div>
</div>
