@model MACAWeb.Models.News

@{
    ViewBag.Title = "UPJŠ - MACA";
}


<div class="jumbotron" style="margin-top:-10px;text-align:center;">
    <table style="width:80%">
        <tbody>
            <tr>
                <td style="vertical-align:middle;">
                    <img src="~/Images/macaIcon.png" width="200">
                    <br>
                    <img src="~/Images/logomaca2.jpg" width="200">
                </td>
                <td style="text-align:left;">
                    <!--<h2>

                        <span class="title-orange">MONITOR</span>

                    </h2>

                    <h3><span class="title-blue">of</span></h3>

                    <h2>

                        <span class="title-orange">ACADEMIC ACTIVITIES</span>

                    </h2>-->
                    <img src="~/Images/logomaca.jpg" width="700">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-lg-4">
        <a href="/Home/About" class="a-div-link">

            <div class="tab-content div-link">

                <h2>MACA Project</h2>

                <br>

                <img src="~/Images/biqbinIcon.png" height="75">

                <br><br>

                <p style="vertical-align:text-bottom;">

                    Learn more about the project!

                </p>

            </div>

        </a>
    </div>
    <div class="col-lg-4">
        <a href="/Home/People" class="a-div-link">

            <div class="tab-content div-link">

                <h2>People</h2>

                <br>

                <img src="~/Images/featureIcon.png" height="75">

                <br><br>

                <p style="vertical-align:text-bottom;">

                    UMV employees

                </p>

            </div>

        </a>
    </div>
    <div class="col-lg-4">
        <a href="/Home/Papers" class="a-div-link">

            <div class="tab-content div-link">

                <h2>Publications</h2>

                <br>

                <img src="~/Images/paperIcon.png" height="75">

                <br><br>

                <p>

                    Check out the latest publications of UMV

                </p>

            </div>

        </a>
    </div>
</div>
