@model MACAWeb.Models.News

@{
    ViewBag.Title = "UPJŠ";
}


<div class="jumbotron" style="margin-top:-10px;text-align:center;">
    <table style="width:80%">
        <tbody>
            <tr>
                <td style="vertical-align:middle;">
                    <img src="~/Images/macaIcon.png" width="200" />
                    <h1>MACA</h1>
                </td>
                <td style="text-align:left;">
                    <h2>
                        <span class="title-orange">MONITOR</span>
                    </h2>
                    <h3><span class="title-blue">of</span></h3>
                    <h2>
                        <span class="title-orange">ACADEMIC ACTIVITIES</span>
                    </h2>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Home/About" class="a-div-link">
            <div class="tab-content div-link">
                <h2>MACA Project</h2>
                <br />
                <img src="~/Images/biqbinIcon.png" height="75" />
                <br /><br />
                <p style="vertical-align:text-bottom;">
                    Learn more about the project!
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/Home/Features" class="a-div-link">
            <div class="tab-content div-link">
                <h2>Features</h2>
                <br />
                <img src="~/Images/featureIcon.png" height="75" />
                <br /><br />
                <p style="vertical-align:text-bottom;">
                    Find out what MACA can help you with!
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/Home/Papers" class="a-div-link">
            <div class="tab-content div-link">
                <h2>Papers</h2>
                <br />
                <img src="~/Images/paperIcon.png" height="75" />
                <br /><br />
                <p>
                    Read the latest research in the field!
                </p>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4"         
         @if (!Context.User.Identity.IsAuthenticated)
        {
            @:style = "pointer-events:none;"
        }
    >
        <div class="tab-content dashboard">
            @if (!Context.User.Identity.IsAuthenticated)
            {
                    <div class="overlay">
                        <h1 class="overlay-text">
                            Log in to access all the features!
                        </h1>
                    </div>
            }
            <span class="dash-title">My Dashboard</span>
            <hr style="margin-top:2px;" />
            <div>
                <a href="/Instances/Index" class="a-dash-link">
                    <div class="dash-tab">
                        <h4>My Instances</h4>
                    </div>
                </a>
                <a href="/UserTasks/Index" class="a-dash-link">
                    <div class="dash-tab">
                        <h4>My Tasks</h4>
                    </div>
                </a>
                <a href="/Results/Index" class="a-dash-link">
                    <div class="dash-tab">
                        <h4>My Results</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="tab-content front-news">
            .
        </div>
    </div>
</div>
