@{
    ViewBag.Title = "Papers";
}
<div class="main-content">
    <h2>@ViewBag.Title</h2>

    <hr />

    <div class="row inner-rectangle">
        <div class="col-md-4 inner-rect-small">
            &nbsp;
        </div>
        <div class="col-md-8">
            <h2>UNDER CONSTRUCTION</h2>
        </div>
    </div>

</div>