@using Microsoft.AspNet.Identity;
@model List<MACAWeb.Models.Teaching>
@Scripts.Render("~/bundles/jquery")



@{
    ViewBag.Title = "Teaching";
    var LogPerson = Auxiliaries.GetConnectedPerson(User.Identity.GetUserId());


    Boolean showManage = false;
    if (LogPerson == ViewBag.PersonID || LogPerson != null) { showManage = true; }
}
<div class="card">
    <div class="col-12 row justify-content-between m-0 pb-0 card-header">
        <div class="p-2">
            <h2>@ViewBag.Pname</h2>
        </div>

        <nav class="nav nav-tabs mt-3">
            <a href="/Home/PersonDetails?personID=@ViewBag.PersonID" class="nav-item nav-link">About</a>
            <a href="/Home/PersonResearch?personID=@ViewBag.PersonID" class="nav-item nav-link">Research</a>
            <a href="/Home/PersonPublications?personID=@ViewBag.PersonID" class="nav-item nav-link">Publications</a>
            <a href="/Home/PersonTeaching?personID=@ViewBag.PersonID" class="nav-item nav-link active">Teaching</a>
            <a href="/Home/PersonMentorships?personID=@ViewBag.PersonID" class="nav-item nav-link">Mentorships</a>
        </nav>
    </div>

    <div class="col-12 card-body">

        <ul class="pl-2">
            @{
                string prevYearSem = "";

                foreach (var item in Model)
                {
                    string yearSem = item.Subject.Year + "/" + item.Subject.Semester;
                    if (prevYearSem == yearSem)
                    {
                        @:<li class="ml-5">
                            string text = item.Subject.Name + " (" + item.TeachingType.Name + ")";
                            @text
                        @:</li>
                    }
                    else
                    {
                        if (prevYearSem != "")
                        {
                            @:<br />
                        }
                        prevYearSem = yearSem;


                        @:<h4>@item.Subject.Year, @item.Subject.Semester. semester</h4>
                        @:<li class="ml-5">
                            string text = item.Subject.Name + " (" + item.TeachingType.Name + ")";
                            @text
                        @:</li>
                    }

                }
            }
        </ul>


    </div>


</div>
