@{
    ViewBag.Title = "Basic MACA Facts";
}
<div class="main-content">
    <h2>@ViewBag.Title</h2>

    <hr />

    <div class="row inner-rectangle">
        <div class="col-md-8">
            <ul>
                <li><b>MACA is a project for monitoring academic activity.</b></li>
                <li><b>Official Title:</b> Monitoring of Academic Activity</li>
            </ul>
            

           
        </div>
        <div class="col-md-4 card secondary p-4">
            <img src="~/Images/macaIcon.png" height="50%" width="300px" class="logo-img" /><br /><br />
            <img src="~/Images/logomaca.jpg" class="logo-img" /><br /><br />

        </div>
    </div>
</div>