@{
    ViewBag.Title = "Basic MACA Facts";
}
<div class="main-content">
    <h2>@ViewBag.Title</h2>

    <hr />

    <div class="row inner-rectangle">
        <div class="col-md-8">
            <ul>
                <li><b>MACA is a joint Austrian-Slovenian research project.</b></li>
                <li><b>Official Title:</b> High-Performance Solver for Binary Quadratic Problems</li>
            </ul>
            <h4>Austrian Part</h4>
            <ul>
                <li><b>Principle investigator:</b> Angelika Wiegele</li>
                <li><b>Project Code:</b> I 3199-N31</li>
                <li><b>Duration:</b> September 2017 - August 2020</li>
                <li>
                    <b>Financed by:</b> <a href="https://www.fwf.ac.at/en/" target="_new">Austrian Science Fund (FWF)</a>
                </li>
                <li>
                    <b>Collaborating institution:</b>
                    <ul>
                        <li><a href="https://www.aau.at/mathematik" target="_new">Alpen-Adria-Universität Klagenfurt, Department of Mathematics</a></li>
                    </ul>
                </li>
            </ul>

            <h4>Slovenian Part</h4>
            <ul>
                <li><b>Principle investigator:</b> Janez Povh</li>
                <li><b>Project Code:</b> N1-0057</li>
                <li><b>Duration:</b> January 2017 - December 2019</li>
                <li><b>FTE:</b> 1.62</li>
                <li><b>Financed by:</b> <a href="https://www.arrs.gov.si/sl/" target="_new">Slovenian Research Agency (ARRS)</a></li>
                <li>
                    <b>Collaborating institutions:</b>
                    <ul>
                        <li><a href="https://www.fs.uni-lj.si/en/" target="_new">University of Ljubljana, Faculty of Mechanical Engineering</a></li>
                        <li><a href="https://www.fmf.uni-lj.si/en/" target="_new">University of Ljubljana, Faculty of Mathematics and Physics</a></li>
                        <li><a href="http://www.fis.unm.si" target="_new">Faculty of Information Studies</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 logo-div">
            <img src="~/Images/logoFwf.jpg" class="logo-img"/><br /><br />
            <img src="~/Images/logoAAU.jpg" class="logo-img" /><br /><br />
            <img src="~/Images/logoARRS.gif" class="logo-img" /><br /><br />
            <img src="~/Images/logoFS.jpg" class="logo-img" /><br /><br />
            <img src="~/Images/logoFMF.gif" class="logo-img" /><br /><br />
            <img src="~/Images/logoFIS.png" class="logo-img" /><br /><br />
        </div>
    </div>
</div>